*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* align-items: center; */
}

#box1{
    padding-top: 3rem;
    height: auto;
    /* background-color: rgb(123, 255, 0); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1 #p1{
    font-size: 1.5rem;
    font-weight: 600;
}

#box1 #p1 span{
    color: red;
}

#box1 #p2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}
#box1 #p2 span{
    color: blueviolet;
}

#box1 #p3{
    font-size: 1.5rem;
    font-weight: 600;
}
#box1 #p4{
    padding-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Input */

#search-bar{
    width: 50rem;
    /* background-color: red; */
}
#search-bar input{
    text-align: center;
     width: 95%;
     height: 100%;
     border: none;
}
#search-bar button{
    padding-bottom: .25rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
     width: 5%;
     height: 100%;
     background-color: white;
}

#section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
   
}

#section-two a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    margin: 3rem;
    
}
#section-two button{
    border: none;
    background-color: rgb(255, 162, 57);
    border-radius: .45rem;
}

/* section-3 Start */

#section-3{
    margin-top: 2.5rem;
    height: 8rem;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
#section-3 #item1{
    width: 7rem;
    color: white;
    font-size: 4rem;
    margin: 2rem;
    border: 1px solid white;
    border-radius: 50%;
}

#section-3 #item1{
    padding-left: 1.5rem;

}
#section-3 #text-items{
    color: white;
    font-size: 1rem;
    padding-left: 0rem;
}




/* Tablet */
@media (max-width:768px){
    #box1 #p1{
        font-size: .75rem;
    }
    
    
    #box1 #p2{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    #box1 #p3{
        font-size: .75rem;
    }
    #box1 #p4{
        font-size: .75rem;
    }

    /* Input */

#search-bar{
    width: 28rem;
    /* background-color: red; */
}

#section-two{
    padding-top: 1.5rem;
}

#section-two a{
    font-size: 1.1rem;
    margin: 2rem;
    
}
#section-two button{
    border-radius: .35rem;
}

/* Section 3 */

#section-3{
    margin-top: 2.2rem;
    height: 6rem;
}
#section-3 #item1{
    height: 5.5rem;
    width: 5.5rem;
    color: white;
    font-size: 2.8rem;
    margin: 2rem 1rem;
    border: 1px solid white;
    border-radius: 100%;
}

#section-3 #item1{
    padding-left: 1.4rem;

}
#section-3 #text-items{
    color: white;
    font-size: 1rem;
    padding-left: 0rem;
    line-height: .8rem;
    padding-top: 1rem;
}


}


/* Mobile L */
@media (max-width:426px){

    #box1 #p1{
        font-size: .70rem;
    }
    
    
    #box1 #p2{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    #box1 #p3{
        font-size: .75rem;
    }
    #box1 #p4{
        font-size: .75rem;
    }

    #search-bar{
        width: 19rem;
        font-size: .8rem;
        /* background-color: red; */
    }
    #search-bar button{
        font-size: .8rem;
        padding-top: .3rem;

    }

    #section-two{
        padding-top: .8rem;
    }
    
    #section-two a{
        font-size: .9rem;
        margin: 1.5rem;
        
    }
    #section-two button{
        border-radius: .35rem;
    }

    /* Section 3 */

#section-3{
    margin-top: 2.2rem;
    height: 6rem;
}
#section-3 #item1{

    height: 4.5rem;
    width: 4.5rem;
    color: white;
    font-size: 2.2rem;
    margin: 2rem 1.2rem;
    border: 1px solid white;
    border-radius: 100%;
}



#section-3 #text-items{
    color: white;
    font-size: 1rem;
    padding-left: 0rem;
    line-height: .6rem;
    padding-top: 1rem;
   
}

}


/* Mobile M */
@media (max-width:375px){
    #box1 #p1{
        font-size: .65rem;
    }
    
    
    #box1 #p2{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    
    #box1 #p3{
        font-size: .65rem;
    }
    #box1 #p4{
        font-size: .65rem;
    }

    #search-bar{
        width: 22rem;
        /* background-color: red; */
    }

    #section-two{
        padding-top: .8rem;
    }
    
    #section-two a{
        font-size: .7rem;
        margin: 1.2rem;
        
    }
    #section-two button{
        border-radius: .35rem;
    }

        /* Section 3 */

#section-3{
    margin-top:1rem;
    height: 6rem;
}
#section-3 #item1{

    height: 3.5rem;
    width: 3.5rem;
    color: white;
    font-size: 2rem;
    margin: 2rem 1rem;
    border: 1px solid white;
    border-radius: 100%;
}



#section-3 #text-items{
    color: white;
    font-size: 0.8rem;
    padding-left: 0rem;
    line-height: .6rem;
    padding-top: 1rem;
   
}
}


/* Mobile S */
@media (max-width:320px){
    #box1 #p1{
        font-size: .65rem;
    }
    
    
    #box1 #p2{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    
    #box1 #p3{
        font-size: .65rem;
    }
    #box1 #p4{
        font-size: .65rem;
    }
    #search-bar{
        width: 15rem;
        /* background-color: red; */
    }
    #section-two{
        padding-top: .8rem;
    }
    
    #section-two a{
        font-size: .7rem;
        margin: 1.2rem;
        
    }
    #section-two button{
        border-radius: .35rem;
    }

            /* Section 3 */

#section-3{
    margin-top:1rem;
    height: 6rem;
}
#section-3 #item1{

    height: 3.5rem;
    width: 3.5rem;
    color: white;
    font-size: 2rem;
    margin: 2rem 1rem;
    border: 1px solid white;
    border-radius: 100%;
}



#section-3 #text-items{
    color: white;
    font-size: 0.8rem;
    padding-left: 0rem;
    line-height: .6rem;
    padding-top: 1rem;
   
}
}

